@media (max-width: 992px) {
	.left{
		margin: 1rem 0;
	}
}
@media (min-width: 992px) {
	.left{
		position: fixed;
		top: 0;
		left: 0;
	}
	.right{
		margin-left: 25%;
	}
	.margin1{
		margin-top: 40vh;
	}
}
.font-menu{
	
}
.margin1{
	
}
.margin2 h6{
	margin: 20px 0;
	font-weight: bold;
}
.left{
	border-right: 2px solid #EEEEEE;
}
.left a{
	font-weight: bold;
	color: #000;
}
@media (min-width: 992px) {
	.left{
		height: 100vh;
	}
}
.ab{
	color: #00A862;
}
#myTab li{
	width: 20vw;
	min-width: 30px;
	font-size: 0.8rem;
	color: #919191;
}